*{
    padding: 0%;
    margin: 0%;
    outline: 0ch;
    box-sizing: border-box;
}

body{
    background-color: indigo;
}

#root{
    width: 100vw;
    width: 100vh;
}

.radM{
    border-radius: 8px;
}

.radP{
    border-radius: 4px;
}


.pdMin{
    padding: 4px;
}

.pdP{
    padding: 8px;
}

.pdM{
    padding: 16px;
}

.pdG{
    padding: 24px;
}

.fntP{
    font-size: 16px;
}

.fntM{
    font-size: 24px;
}

.fntG{
    font-size: 32px;
}

.mrgP{
    margin: 16px;
}

.mrgM{
    margin: 24px;
}

.mrgG{
    margin: 32px;
}

.form{
    margin-top: 200px;
    margin-left: 50px;

}

.mrgInput{
    margin-left: 32px;
}

.row{
    display: block;
}

.just{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: mediumorchid;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background-color: darkorchid;

}

.white{
    color: white;
}

#rem .bus{
    margin-left: 80px;
    margin-top: 80px;

}

#rem .cr{
    margin-left: 80px;
    margin-top: 100px;

}

#rem .cr button{
    margin-right: 40px;
}

.backPos{
    position: absolute;
    top: 30px;
    left: 30px;
}

.cdTam{
    width: 300px;
    height: 300px;
}

.lisCards{
    position: absolute;
    top: 150px;
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
}

.lisCards .cdTam:first-child{
    margin-left: 47px;
}

.edPlan{
    position: absolute;
    top: 30px;
    left: 110px;
    transition: 0.2s;
}

.edPlan:hover{
    color: indigo;
}

.hea{
    width: 100vw;
    height: 120px;
    position: fixed;
}

.bor{
    border: 1px solid white;
}

.larAl{
    width: 40px;
    height: 40px;
}

.dvAl{
    width: 140px;
    height: 100px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ; 
}

.dvPl{
    width: 25px;
    display: grid;
    grid-template-columns:repeat(1,1fr) ; 
    gap: 10px;
    position: absolute;
    right:0px;
    margin-right: 180px;
}

.bgP{
    background-color: indigo;
}

#lss{
    width: 32px;
}

.som{
    margin-left: 5px;
}

.btnn{
    background-color: indigo;
    border: 0;
    cursor: pointer;
    width: 75px;
    transition: 0.2s;
}

.btnn:hover{
    background-color: mediumorchid;

}

#Menu1,#Menu2{
    visibility: hidden;
}
